# Build artifacts
build/
dist/
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local dev
.idea/
.vscode/
*.swp
*.swo

# Go test
coverage.out
coverage.xml

# OS
.DS_Store
Thumbs.db

# secrets
.aws-bootstrap.local
